* {
  background: #000;
  font-size: 14px;
  font-family: courier, monospace;
  text-align: center;
}

.container{
  display: inline-block;
  font-family: "arial";
  font-size: 24px;
}
.container p {
  color: #fff;
}
.container > p > a {
  color: #0bc;
  text-decoration: none;
}
pre {
  color: #20C20E;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.typed:nth-child(2) {
  animation-delay: 1.5s; /* Delay the animation of the second paragraph by the duration of the first */
} 

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


h1{
   font-size: 14px;
   font-family: arial;
   color:#20C20E;
   text-align: center;
   animation: animate 1.5s linear infinite;
 } 
  
 @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }
i {
  color: #20C20E;
}
h1 {
  transition-delay: 2s;
}
